.booking-policies-container {
 width: 80%;
  ; /* Max width for larger screens */
  margin: 0 auto;
  padding: 30px; /* Padding applied only once */
}

h2.text-center {
  font-size: 2rem;
  font-weight: 600;
  color: #333;
  margin-bottom: 20px;
  text-align: center;
}

.policy-box {
  background-color: #f9f9f9;
  border: 1px solid #6b3eab;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
}



.policy-box ul {
  padding-left: 0;
  list-style-position: inside;
  line-height: 2.5;
  font-size: 1.1rem;
  list-style: none;
}

.accordion-item {
  background-color: white;
  border: 1px solid #6b3eab;
  border-radius: 10px;
  margin-bottom: 15px;
}

.accordion-header {
  padding: 15px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.2rem;
  font-weight: 500;
  cursor: pointer;
  color: #6b3eab;
}

.accordion-content {
  padding: 15px 20px;
  font-size: 1rem;
  color: #333;
}

.accordion-content p {
  margin: 0;
}

/* Media Queries for responsive layout */
@media (max-width: 768px) {
  .booking-policies-container {
    width: 100%; /* Full width on smaller screens */
  }

  .policy-box {
    margin: 5px 10px; /* Add margin to fill the sides */
  }
}

@media (max-width: 576px) {
  .policy-box {
    margin: 10px -15px; /* Increase margin to fill the sides */
  }
}
